# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- Phyton
- C
- R

some of the popular languages that Data Scientist use are:

1. Phyton
2. Pandas
3. R

Some of the commonly used libraries used by Data Scientists include:

1. GGplot
2. GGally
3. Dplyr

|Data Science Tools|
|------------------|
|Jupyter Notebook  |
|Google Colab      |
|Rstudio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
a = 3
b = 4
c = 5
results = (a*b)+c
print(results)

17

In [3]:
## This a simple arithmetic expression to mutiply then add integers

In [4]:
minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

In [5]:
## This will convert 200 minutes to hours by diving by 60

## Author

Nahda